<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.koreait.mapper.BoardMapper">
	<select id="selectBoardList" parameterType="int" resultType="board">
		select * from (select ceil(rownum / 15) as pageNo, b.* from board_view b) 
		where pageNo = #{pageNo}
	</select>
	<select id="selectBoardCount" resultType="int">
		select count(*) from board_view
	</select>
</mapper>







