<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.MemberMapper">
	<select id="selectAllMember" resultType="member">
		select * from member
	</select>
	<insert id="insertMember" parameterType="member">
		insert into member values(#{id},#{passwd},#{name},#{age},#{gender},#{address})
	</insert>
	<delete id="deleteMember" parameterType="String">
		delete from member where id = #{id}
	</delete>
	<select id="selectMember" parameterType="String" resultType="member">
		select * from member where id = #{id}
	</select>
	<update id="updateMember" parameterType="member">
		update member set passwd=#{passwd},name=#{name},age=#{age},
		gender=#{gender},address=#{address} where id = #{id}
	</update>
	<select id="searchMember" parameterType="map" resultType="member">
		select * from member where
		<choose>
			<when test="kind.equals('id')">
				 id = #{search}
			</when>
			<when test="kind.equals('name')">
				 name like '%' || #{search} || '%'
			</when>
			<when test="kind.equals('address')">
				 address like '%' || #{search} || '%'
			</when>
		</choose>
	
	</select>
</mapper>







